$header-gradient: linear-gradient(
    to right, 
    rgba(255, 153, 153, 1) 0%, 
    rgba(240, 152, 132, 1) 33%, 
    rgba(245, 161, 118, 1) 66%, 
    rgba(249, 169, 105, 1) 100%
);

:host {
    background: $header-gradient;
    display: block;
    height: 40px;

    .content-container,
    .control-container,
    .logo-container {
        display: flex;
        align-items: center;
        color: white;
    }

    .content-container {
        max-width: 1200px;
        justify-content: space-between;
        margin: 0 auto;
    }

    .logo-container h1 {
        font-size: 1rem;
    }

    .control-container {
        cursor: pointer;

        .user-info {
            display: flex;
        }

        .user-avatar {
            border-radius: 50%;
        }
    }
}
