@import '../../../../styles/variables';

$header-gradient: linear-gradient(
    to right, 
    rgba(255, 153, 153, 1) 0%, 
    rgba(240, 152, 132, 1) 33%, 
    rgba(245, 161, 118, 1) 66%, 
    rgba(249, 169, 105, 1) 100%
);

:host {
    background: $header-gradient;
    display: block;
    height: 40px;

    .content-container,
    .control-container,
    .logo-container {
        display: flex;
        align-items: center;
        color: white;
    }

    .content-container {
        max-width: $app-max-width;
        justify-content: space-between;
        margin: 0 auto;
    }

    .logo-container {
        cursor: pointer;

        fa-icon {
            font-size: 1.5rem;
            margin-right: 5px;
        }

        h1 {
            font-size: 1rem;
            font-style: italic;
            text-transform: uppercase;
        }
    }

    .logo-text {
        color: white;
        text-decoration-line: none;
    }

    .control-container {
        .user-info {
            display: flex;
            margin-right: 15px;
            position: relative;

            .user-personal-info {
                display: flex;

                .user-firstname {
                    margin-right: 0.3rem;
                }
            }

            .user-dropdown {
                background: white;
                border-radius: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 0px 16px 0 rgba(0, 0, 0, 0.09);
                color: #30b6dd;
                cursor: default;
                display: none;
                left: -57px;
                min-width: 140px;
                padding-bottom: 1rem;
                position: absolute;
                top: 31px;
                z-index: 1;

                .logout-container {
                    cursor: pointer;

                    fa-icon {
                        font-size: 1rem;
                    }
                }

            }

            &:hover .user-dropdown {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            fa-icon {
                font-size: 0.8rem;
                margin: 5px;
            }
        }


        .user-avatar {
            border-radius: 50%;
        }
    }
}
