<header class="header-container">
    <div class="content-container">
        <div class="logo-container">
            <fa-icon [icon]="['far', 'play-circle']"></fa-icon>
            <h1>video courses</h1>
        </div>
        <div class="control-container">
            <div class="user-info">
                <img src="../../../../assets/images/avatar.png"
                     alt="user avatar"
                     class="user-avatar"
                     height="30">
                <fa-icon icon="sort-down"></fa-icon>
                <div class="user-dropdown">
                    <div class="logout-container">
                        <fa-icon icon="sign-out-alt"></fa-icon>
                        <span>Log out</span>
                    </div>
                </div>
            </div>
            <div class="menu">
                <fa-icon icon="bars"></fa-icon>
            </div>
        </div>
    </div>
</header>
