<section class="course-manipulation-container">
    <form
        class="course-manipulation-form"
        [formGroup]="courseForm"
        autocomplete="off">
        <ul class="form-sections">
            <li class="course-title-container"
                [class.error]="title.invalid && (title.dirty || title.touched)">
                <label
                    for="course-title"
                    [translate]="'courseManipulationPage.title'">
                </label>
                <input
                    type="text"
                    id="course-title"
                    class="course-title"
                    [attr.placeholder]="'courseManipulationPage.placeholders.title' | translate"
                    formControlName="title">
                <span
                    class="error-msg"
                    [translate]="'courseManipulationPage.errorMessages.title'"
                    [translateParams]="{ maxTitleLength: maxTitleLength }">
                </span>
            </li>
            <li class="course-description-container"
                [class.error]="description.invalid && (description.dirty || description.touched)">
                <app-input-text
                    formControlName="description">
                </app-input-text>
                <span
                    class="error-msg"
                    [translate]="'courseManipulationPage.errorMessages.description'"
                    [translateParams]="{ maxDescriptionLength: maxDescriptionLength }">
                </span>
            </li>
            <li class="course-meta-info-container">
                <div class="date-container"
                    [class.error]="date.invalid && (date.dirty || date.touched)">
                    <!-- only 2010-2029 years are valid -->
                    <app-input-date
                        formControlName="date">
                    </app-input-date>
                    <span
                        class="error-msg"
                        [translate]="'courseManipulationPage.errorMessages.date'">
                    </span>
                </div>
                <div class="duration-container"
                    [class.error]="duration.invalid && (duration.dirty || duration.touched)">
                    <app-input-duration
                        formControlName="duration"
                    ></app-input-duration>
                    <span
                        class="error-msg"
                        [translate]="'courseManipulationPage.errorMessages.duration'"
                        [translateParams]="{
                            minDuration: minDuration,
                            maxDuration: maxDuration
                        }">
                        
                    </span>
                </div>
            </li>
            <li class="course-author-container"
                [class.error]="authors.invalid && (authors.dirty || authors.touched)">
                <app-input-author
                    [allAuthors]="(authors$ | async).authors"
                    formControlName="authors"
                ></app-input-author>
                <span
                    class="error-msg"
                    [translate]="'courseManipulationPage.errorMessages.authors'">
                </span>
            </li>
            <li class="course-upload-area-container">
                <label
                    for="course-upload-file-id"
                    [translate]="'courseManipulationPage.uploadFile'">
                </label>
                <input
                    type="file"
                    name="files[]"
                    id="course-upload-file-id"
                    class="course-upload-area"
                    #upload
                    hidden>
                <div
                    class="course-visible-upload-area"
                    (click)="upload.click()">
                    <fa-icon class="upload-icon" icon="cloud-upload-alt"></fa-icon>
                    <span
                        class="upload-message"
                        [translate]="'courseManipulationPage.dragAndDropMessage'">
                    </span>
                </div>
                <span
                    class="options-separator"
                    [translate]="'courseManipulationPage.separator'">
                </span>
                <button
                    type="button"
                    class="course-upload-file-btn"
                    (click)="upload.click()"
                    [translate]="'courseManipulationPage.choseFiles'">
                </button>
            </li>
        </ul>
    </form>
    <footer class="course-manipulation-footer">
        <span
            class="mandatory-fields-note"
            [translate]="'courseManipulationPage.mandatoryFields'">
        </span>
        <div class="buttons-block">
            <button class="cancel"
                [routerLink]="'/courses'"
                role="button"
                [translate]="'courseManipulationPage.cancel'">
            </button>
            <button
                class="save"
                type="submit"
                role="button"
                (click)="onSave()"
                [disabled]="courseForm.invalid"
                [translate]="'courseManipulationPage.save'">
            </button>
        </div>
    </footer>
</section>
