<section class="course-manipulation-container">
    <form
        class="course-manipulation-form"
        [formGroup]="courseForm">
        <ul class="form-sections">
            <li class="course-title-container"
                [class.error]="title.invalid && (title.dirty || title.touched)">
                <label for="course-title">title</label>
                <input
                    type="text"
                    id="course-title"
                    class="course-title"
                    placeholder="Enter a course name"
                    formControlName ="title">
                <span class="error-msg">
                    Please put a title shorter than
                    {{ maxTitleLength }} symbols.
                </span>
            </li>
            <li class="course-description-container"
                [class.error]="description.invalid && (description.dirty || description.touched)">
                <app-input-text
                    formControlName="description">
                </app-input-text>
                <span class="error-msg">
                    Please put a description shorter than
                    {{ maxDescriptionLength }} symbols.
                </span>
            </li>
            <li class="course-meta-info-container">
                <div class="course-date-container">
                    <label for="course-date-id">date</label>
                    <input
                        type="date"
                        id="course-date-id"
                        placeholder="Enter a course date"
                        class="course-date"
                        formControlName="date">
                    <span class="error-msg">
                        Please set duration between 
                        {{ minDuration }} and {{ maxDuration }} minutes.
                    </span>
                </div>
                <div class="duration-container"
                    [class.error]="duration.invalid && (duration.dirty || duration.touched)">
                    <app-input-duration
                        formControlName="duration"
                    ></app-input-duration>
                    <span class="error-msg">
                        Please set duration between 
                        {{ minDuration }} and {{ maxDuration }} minutes.
                    </span>
                </div>
            </li>
            <li class="course-author-container">
                <label for="course-author-id">authors</label>
                <input
                    type="text"
                    id="course-author-id"
                    placeholder="Enter a course author"
                    class="course-author"
                    formControlName="author"
                    value="author.firstName">
            </li>
            <li class="course-upload-area-container">
                <label for="course-upload-file-id">upload video file</label>
                <input
                    type="file"
                    name="files[]"
                    id="course-upload-file-id"
                    class="course-upload-area"
                    #upload
                    hidden>
                <div
                    class="course-visible-upload-area"
                    (click)="upload.click()">
                    <fa-icon class="upload-icon" icon="cloud-upload-alt"></fa-icon>
                    <span class="upload-message">
                        dran and drop files here (doesn't work at the moment)
                    </span>
                </div>
                <span class="options-separator">or</span>
                <button
                    type="button"
                    class="course-upload-file-btn"
                    (click)="upload.click()">
                    chose files
                </button>
            </li>
        </ul>
    </form>
    <footer class="course-manipulation-footer">
        <span class="mandatory-fields-note">
            * Mandatory fields
        </span>
        <div class="buttons-block">
            <button class="cancel"
                [routerLink]="'/courses'"
                role="button">
                cancel
            </button>
            <button
                class="save"
                type="submit"
                role="button"
                (click)="onSave()"
                [disabled]="courseForm.invalid">
                save
            </button>
        </div>
    </footer>
</section>
