<label
    class="course-author-label"
    for="course-author-id"
    [translate]="'courseManipulationPage.authors'">
</label>
<div class="authors-container">
    <ul class="authors-cloud-tags">
        <li
            *ngFor="let author of selectedAuthors"
            class="single-author">
            {{ author.firstName + ' ' + author.lastName }}
            <fa-icon
                class="delete-author-icon"
                icon="times"
                (click)="removeAuthor(author)"
            ></fa-icon>
        </li>
    </ul>
    <div class="authors-select">
        <input
            type="text"
            #inputAuthor
            id="course-author-id"
            [attr.placeholder]="'courseManipulationPage.placeholders.authors' | translate"
            class="course-author"
            [(value)]="value"
            (keyup)="onKeyUp(inputAuthor.value)"
            (focus)="onFocus(inputAuthor.value)"
            (focusout)="onFocusOut()"
            (keyup.enter)="addAuthor(inputAuthor.value)">
        <ul class="authors-list"
            [class.hidden]="!isAuthorsListOpened"
            *ngIf="filteredAuthors.length">
            <li *ngFor="let author of filteredAuthors"
                class="single-author"
                (mousedown)="addAuthor(author)">
                {{ author.firstName + ' ' + author.lastName }}
            </li>
        </ul>
    </div>
</div>
