<div class="not-found-container">
    <div class="numbers-container">
        <span class="not-found-numbers">4</span>
        <fa-icon class="not-found-icon" icon="kiwi-bird"></fa-icon>
        <span class="not-found-numbers">4</span>
        <span class="eye-of-kiwi"></span>
    </div>
    <div class="text-container">
        <p>Grats. You broke it.</p>
        <p>Not to worry. You can either go back to the 
            <a class="homepage-link" [routerLink]="'/'">homepage</a> 
            or sit here and enjoy the gaze of kiwi.</p>
    </div>
</div>
