<div class="interaction-section">
    <div class="interaction-container">
        <app-breadcrumbs></app-breadcrumbs>
        <app-control-panel></app-control-panel>
    </div>
</div>
<div class="courses-section">
    <p class="courses-number">There are {{courses.length}} courses</p>
    <ul class="courses-container" *ngIf="courses.length; else noCoursesMessage">
        <li *ngFor="let item of courses | orderBy : 'date' : coursesLimit">
            <app-course 
                [course]="item"
                appCourseHighlighting
                (deleteCourse)="onDeleteCourse($event)">
            </app-course>
        </li>
    </ul>
</div>
<app-load-more *ngIf="courses.length"></app-load-more>

<ng-template #noCoursesMessage>
    <p class="no-data-error">
        no data, feel free to add new course
    </p>
</ng-template>
