$control-panel-gradient: linear-gradient(
    to right, 
    rgba(231, 120, 131, 1) 0%, 
    rgba(237, 131, 112, 1) 33%, 
    rgba(242, 141, 95, 1) 66%, 
    rgba(247, 149, 79, 1) 100%
);

.interaction-section {
    background: $control-panel-gradient;
    
    .interaction-container {
        color: white;
    }
}

.courses-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.courses-section,
.interaction-container {
    max-width: 1200px;
    margin: 0 auto;
}

.courses-number {
    color: #6c7283;
    font-style: italic;
    margin: 25px 0 15px;
}

.no-data-error {
    color: #30b6dd;
    font-style: italic;
    font-weight: 600;
    left: 50%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
}
