@import '../../styles/variables';

$form-elements-space: 15px;

.login-page {
    background: $main-gradient;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 50px;
    grid-template-columns: 500px 500px;
    align-items: center;
    justify-content: center;
}

.login-block,
.welcome-block {
    height: 500px;
}

.login-block {
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.2);
    padding: 40px 60px;
}

.login-form {
    display: grid;
    gap: $form-elements-space;
}

.login-form-header {
    color: $gray;
    font-size: 2rem;
    font-weight: 400;
}

.welcome-title {
    color: white;
    font-size: 4rem;
}

.welcome-greetings {
    color: white;
    font-size: 1.9rem;
}

.user-info {
    display: grid;
    gap: 20px;
}

.external-login-btn,
.login-btn,
.user-email,
.user-password {
    height: 40px;
    border-radius: 5px;
}

.external-login-btn,
.login-btn {
    cursor: pointer;
}

.user-email,
.user-password {
    border: 1px solid $light-gray;
    padding-left: 10px;
    
    &::placeholder {
        color: $light-gray;
    }
}

.external-login-btn {
    background: white;
    border: 2px solid $confirm-color-light;
    color: $confirm-color-light;
    font-size: 1rem;
    font-weight: 700;

    &:hover {
        background-color: $confirm-color-light;
        border-color: $confirm-color-light;
        color: white;
    }
}

.login-btn {
    background-color: $green;
    border: 0;
    color: white;
    font-size: 1.15rem;
    margin-top: 15px;

    &:hover {
        background-color: white;
        border: 2px solid $light-green;
        color: $light-green;
    }
}

.login-options {
    display: flex;
    justify-content: space-between;
}

.separator,
.remember-me,
.forgot-password-message {
    color: $gray;
    font-style: italic;
    text-decoration: none;
}

.remember-me,
.forgot-password-message {
    cursor: pointer;

    &:hover {
        color: $confirm-color-light;
    }
}

.separator {
    color: $light-gray;
    text-align: center;
    width: 100%;
}
