/* You can add global styles to this file, and also import other style files */
@import './modal';

* {
    box-sizing: border-box;
}

html, body {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}
