<div class="login-page">
    <section class="welcome-block">
        <h2
            class="welcome-title"
            [translate]="'loginPage.title'">
        </h2>
        <p
            class="welcome-greetings"
            [translate]="'loginPage.greetings'">
        </p>
    </section>
    <section class="login-block">
        <form class="login-form"
            [formGroup]="loginForm">
            <h3
                class="login-form-header"
                [translate]="'loginPage.login'">
            </h3>
            <button
                class="external-login-btn"
                [translate]="'loginPage.externalLogin'">
            </button>
            <div
                class="separator"
                [translate]="'loginPage.separator'">
            </div>
            <div class="user-info">
                <div class="email-container"
                    [class.error]="email.invalid && (email.dirty || email.touched)">
                    <input 
                        class="user-email"
                        type="email"
                        [attr.placeholder]="'loginPage.placeholders.email' | translate"
                        formControlName="userEmail">
                    <p
                        class="error-msg"
                        [translate]="'loginPage.errorMessage.email'">
                    </p>
                </div>
                <div class="password-container"
                    [class.error]="password.invalid && (password.dirty || password.touched)">
                    <!-- autocomplete="new-password" to prevent chrome + angular bug with autofilling -->
                    <!-- https://github.com/angular/components/issues/3414 -->
                    <input
                        class="user-password"
                        type="password"
                        [attr.placeholder]="'loginPage.placeholders.password' | translate"
                        autocomplete="new-password"
                        formControlName="userPassword">
                    <p
                        class="error-msg"
                        [translate]="'loginPage.errorMessage.password'">
                    </p>
                </div>
                <div class="login-options">
                    <div>
                        <input type="checkbox" id="remember-me">
                        <label 
                            class="remember-me"
                            for="remember-me"
                            [translate]="'loginPage.rememberMe'">
                        </label>
                    </div>
                    <a class="forgot-password-message"
                        href="/login"
                        [translate]="'loginPage.forgotPassword'">
                    </a>
                </div>
            </div>
            <button 
                class="login-btn"
                type="button"
                (click)="login()"
                [disabled]="loginForm.invalid"
                [translate]="'loginPage.login'">
            </button>
        </form>
    </section>
</div>

