<div class="login-page">
    <section class="welcome-block">
        <h2 class="welcome-title">Welcome</h2>
        <p class="welcome-greetings">
            To the Angular global mentoring program, here you can find courses
            that cover all topics needed to start your own Angular application.
        </p>
    </section>
    <section class="login-block">
        <form class="login-form"
            [formGroup]="loginForm">
            <h3 class="login-form-header">Login</h3>
            <button class="external-login-btn">EPAM Login</button>
            <div class="separator">or</div>
            <div class="user-info">
                <div class="email-container"
                    [class.error]="email.invalid && (email.dirty || email.touched)">
                    <input 
                        class="user-email"
                        type="email"
                        placeholder="Email"
                        formControlName="userEmail">
                    <p class="error-msg">
                        Please enter your email.
                    </p>
                </div>
                <div class="password-container"
                    [class.error]="password.invalid && (password.dirty || password.touched)">
                    <!-- autocomplete="new-password" to prevent chrome + angular bug with autofilling -->
                    <!-- https://github.com/angular/components/issues/3414 -->
                    <input
                        class="user-password"
                        type="password"
                        placeholder="Password"
                        autocomplete="new-password"
                        formControlName="userPassword">
                    <p class="error-msg">
                        Please enter your password.
                    </p>
                </div>
                <div class="login-options">
                    <div>
                        <input type="checkbox" id="remember-me">
                        <label class="remember-me" for="remember-me">Remember me</label>
                    </div>
                    <a class="forgot-password-message" href="/login">Forgot password?</a>
                </div>
            </div>
            <button 
                class="login-btn"
                type="button"
                (click)="login()"
                [disabled]="loginForm.invalid">
                Login
            </button>
        </form>
    </section>
</div>

