<div class="control-panel-container">
    <h2>Find or add courses ...</h2>
    <div class="interaction-container">
        <div class="search">
            <input 
                type="text"
                class="search-input"
                [(ngModel)]="searchText">
            <button
                class="search-course-btn"
                (click)="onSearchClick()">
                search
            </button>
        </div>
        <div class="add-course-btn-container">
            <button class="add-course-btn">
                + Add course
            </button>
        </div>
    </div>
</div>
