<div class="duration-container">
    <label
        for="duration-id"
        [translate]="'courseManipulationPage.duration'">
    </label>
    <input
        class="duration"
        #durationInput
        type="number"
        id="duration-id"
        [attr.placeholder]="'courseManipulationPage.placeholders.duration' | translate"
        [value]="duration"
        (keyup)="onKeyUp(durationInput.value)"
        (focusout)="onFocusOut()">
    <span class="formatted-duration">
        {{formattedDuration}}
    </span>
</div>
