.control-panel-container {
    display: flex;
    flex-direction: column;
    height: 150px;

    .interaction-container {
        display: flex;
        flex-grow: 50%;
        user-select: none;

        .search {
            flex-grow: 6;
            padding-right: 10px;
            position: relative;

            .search-input {
                border: none;
                border-radius: 5px;
                height: 40px;
                padding-left: 10px;
                padding-right: 80px;
                width: 100%;
            }
        }

        .add-course-btn-container {
            flex-grow: 4;
            
            .add-course-btn {
                height: 100%;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                display: inline-block;
                padding: 9px;

                &:hover {
                    background-color: rgba(247, 149, 79, 1);
                }
            }
        }
    }
}
