<div class="control-panel-container">
    <h2 [translate]="'coursesPage.findOrAddCourseMessage'"></h2>
    <div class="interaction-container">
        <div class="search">
            <input 
                class="search-input"
                #searchInput
                type="text"
                [(ngModel)]="searchText">
        </div>
        <div class="add-course-btn-container">
            <a [routerLink]="'/courses/new'"
                class="add-course-btn"
                role="button"
                [translate]="'coursesPage.addCourse'">
            </a>
        </div>
    </div>
</div>
