$confirm-color: #30b6dd;
$confirm-color-light: #6dd4f3;
$refuse-color: white;
$gray: #6c7283;
$green: #9bc837;
$light-green: #66cc94;;
$light-gray: #dddee5;
$orange: #ff9f21;

$main-gradient: linear-gradient(
    to right, 
    rgba(231, 120, 131, 1) 0%, 
    rgba(237, 131, 112, 1) 33%, 
    rgba(242, 141, 95, 1) 66%, 
    rgba(247, 149, 79, 1) 100%
);
