.breadcrumbs-container {
    font-style: italic;
    height: 20px;
    padding: 10px 0;
    
    .breadcrumb {
        cursor: pointer;
    }

    &:after {
        content: ' »';
        font-size: 0.85rem;
    }
}
