@import '../../../../styles/variables';

.breadcrumbs-container {
    font-style: italic;
    height: 20px;
    padding: 10px 0 30px 0;
    
    .breadcrumbs-list {
        display: flex;
    }

    .breadcrumb {
        cursor: pointer;
        color: $dark-gray;
        padding-right: 10px;

        &:hover {
            color: $orange;
        }

        &:after {
            content: ' »';
            font-size: 0.85rem;
        }
    }

    .breadcrumb-item:last-child:not(:first-child) .breadcrumb {
        color: $gray;
        pointer-events: none;
    }
}
