<article class="course-container" [ngClass]="{'top-rated-course': course.isTopRated}">
    <img src="{{course.image}}" width="270" alt="course image">
    <div class="course-info">
        <div class="main-info">
            <h3 class="course-title">{{course.title}}
                <fa-icon 
                    *ngIf="course.isTopRated"
                    class="top-rated-icon"
                    [icon]="['far', 'star']">
                </fa-icon>
            </h3>
            <p class="course-description">{{course.description}}</p>
            <div class="course-meta-info">
                <div class="course-author">
                    <fa-icon icon="user-graduate"></fa-icon>
                    <span class="icon-description">Author: </span>{{course.author.firstName}} {{course.author.lastName}}
                </div>
                <div class="course-duration">
                    <fa-icon [icon]="['far', 'clock']"></fa-icon>
                    <span class="icon-description">Duration: </span>{{course.duration}}
                </div>
                <div class="course-date">
                    <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
                    <span class="icon-description">Date: </span>{{course.date | date:'mediumDate'}}
                </div>
            </div>
        </div>
        <div class="aside-info">
            <fa-icon 
                class="tools"
                icon="ellipsis-h">
            </fa-icon>
            <fa-icon 
                class="tools trash-alt hidden"
                icon="trash-alt"
                (click)="onDeleteClick()">
            </fa-icon>
            <fa-icon 
                class="tools hidden"
                icon="edit"
                (click)="onEditClick()">
            </fa-icon>
        </div>
    </div>
</article>
