<section class="add-course-container">
    <header class="add-course-header">
        <h2 class="add-course-title">add course</h2>
        <div class="separator"></div>
        <!-- hidden for now -->
        <!-- <div class="close-btn" role=button>
            <fa-icon icon="times"></fa-icon>
        </div> -->
    </header>
    <form class="add-course-form">
        <ul class="form-sections">
            <li class="course-title-container">
                <label for="course-title-id">title</label>
                <input
                    type="text"
                    id="course-title-id"
                    class="course-title"
                    placeholder="Enter a course name">
            </li>
            <li class="course-description-container">
                <label for="course-description-id">description</label>
                <textarea
                    class="course-description"
                    name="course-description"
                    id="course-description-id"
                    placeholder="Enter a course description"
                    cols="30"
                    rows="10"></textarea>
            </li>
            <li class="course-meta-info-container">
                <div class="course-date-container">
                    <label for="course-date-id">date</label>
                    <input
                        type="date"
                        id="course-date-id"
                        placeholder="Enter a course date"
                        class="course-date">
                </div>
                <div class="course-duration-container">
                    <label for="course-duration-id">duration</label>
                    <input
                        type="number"
                        id="course-duration-id"
                        placeholder="Enter a course duration"
                        class="course-duration"
                        min="0"
                        max="COURSE_MAX_DURATION_IN_MINUTES"
                        step="1"
                        pattern="[0-9]"
                        (keyup)="onDurationChange()"
                        [(ngModel)]="courseDuration"
                        [ngModelOptions]="{standalone: true}">
                    <span class="formatted-course-duration">
                        {{formattedCourseDuration}}
                    </span>
                </div>
            </li>
            <li class="course-author-container">
                <label for="course-author-id">authors</label>
                <input
                    type="text"
                    id="course-author-id"
                    placeholder="Enter a course author"
                    class="course-author">
            </li>
            <li class="course-upload-area-container">
                <label for="course-upload-file-id">upload video file</label>
                <input
                    type="file"
                    name="files[]"
                    id="course-upload-file-id"
                    class="course-upload-area"
                    #upload
                    hidden>
                <div
                    class="course-visible-upload-area"
                    (click)="upload.click()">
                    <fa-icon class="upload-icon" icon="cloud-upload-alt"></fa-icon>
                    <span class="upload-message">
                        dran and drop files here (doesn't work at the moment)
                    </span>
                </div>
                <span class="options-separator">or</span>
                <button
                    type="button"
                    class="course-upload-file-btn"
                    (click)="upload.click()">
                    chose files
                </button>
            </li>
        </ul>
    </form>
    <footer class="add-course-footer">
        <span class="mandatory-fields-note">
            * Mandatory fields
        </span>
        <div class="buttons-block">
            <button class="cancel" (click)="onCancel()">cancel</button>
            <button class="save" (click)="onSave()">save</button>
        </div>
    </footer>
</section>
